In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
path = r"D:\Work\workspace_20210329_Pavan\Exp1405nm_2021-03-17_21-36-31_results"
df = pd.read_csv(path+'/Summary.csv')

In [4]:
def split_well(df):
    well_split = df.Well.str.split(r'X|Y', expand=True)
    df['X'] = well_split[1]
    df['Y'] = well_split[2]
    return df

def tagging(df):
    df = split_well(df)
    
    df.loc[df.X == '0', 'Conc'] = '1 nM'
    df.loc[df.X == '1', 'Conc'] = '10 nM'
    df.loc[df.X == '2', 'Conc'] = '100 nM'
    df.loc[df.X == '3', 'Conc'] = '250 nM'
    df.loc[df.X == '4', 'Conc'] = '500 nM'
    df.loc[(df.Y == '1')|(df.Y == '3')|(df.Y == '5'), 'Conc'] = '0'
    df.loc[(df.Well == 'X0Y0')|(df.Well == 'X2Y0'), 'Conc'] = '1000 nM'
    df.loc[(df.Well == 'X1Y0')|(df.Well == 'X3Y0'), 'Conc'] = '5000 nM'
    df.loc[(df.Well == 'X4Y0'), 'Conc'] == 'X'
    
    df.loc[(df.Y == '2')|(df.Y == '3'), 'Cond'] = 'PiB'
    df.loc[(df.Y == '4')|(df.Y == '5'), 'Cond'] = 'PiBDS'
    df.loc[(df.Well == 'X0Y0')|(df.Well == 'X1Y0')|(df.Well == 'X0Y1')|(df.Well == 'X1Y1'), 'Cond'] = 'PiB'
    df.loc[(df.Well == 'X2Y0')|(df.Well == 'X3Y0')|(df.Well == 'X2Y1')|(df.Well == 'X3Y1'), 'Cond'] = 'PiBDS'
    df.loc[(df.Well == 'X4Y0')|(df.Well == 'X4Y1'), 'Cond'] ='ThT'
    
    PiB_df = df.loc[df.Cond == 'PiB']
    PiBDS_df = df.loc[df.Cond == 'PiBDS']
    ThT_df = df.loc[df.Cond == 'ThT']
    
    return PiB_df, PiBDS_df, ThT_df

PiB_df, PiBDS_df, ThT_df = tagging(df)

In [5]:
PiB_df

,Well,NoOfFoV,ParticlePerFoV,MeanSize,MeanIntegrInt,MeanIntPerArea,X,Y,Conc,Cond
0,X0Y0,9,146.222222,70.586626,497919.383068,2565.096907,0,0,1000 nM,PiB
1,X0Y1,9,3.333333,34.666667,5390.775842,141.153844,0,1,0,PiB
2,X0Y2,9,35.777778,70.698758,27674.013673,229.159664,0,2,1 nM,PiB
3,X0Y3,9,21.444444,45.300518,12115.844027,138.994473,0,3,0,PiB
6,X1Y0,9,10.000000,36.577778,4083.381432,93.813037,1,0,5000 nM,PiB
7,X1Y1,9,3.111111,30.178571,2689.834492,85.785330,1,1,0,PiB
8,X1Y2,9,26.333333,70.814346,27098.995824,210.617403,1,2,10 nM,PiB
9,X1Y3,9,7.000000,27.158730,2159.535124,77.223523,1,3,0,PiB
14,X2Y2,9,17.000000,38.901961,5784.106461,116.065305,2,2,100 nM,PiB
15,X2Y3,9,7.222222,28.584615,3298.666101,90.271340,2,3,0,PiB
20,X3Y2,9,13.777778,41.822581,5273.316197,100.532481,3,2,250 nM,PiB
21,X3Y3,9,7.555556,27.779412,2285.635623,78.288080,3,3,0,PiB
26,X4Y2,9,14.555556,37.282443,6288.812919,118.229144,4,2,500 nM,PiB
27,X4Y3,9,8.222222,29.081081,2361.677979,79.744622,4,3,0,PiB

In [6]:
PiBDS_df

,Well,NoOfFoV,ParticlePerFoV,MeanSize,MeanIntegrInt,MeanIntPerArea,X,Y,Conc,Cond
4,X0Y4,9,10.555556,32.421053,2798.606509,83.997317,0,4,1 nM,PiBDS
5,X0Y5,9,6.111111,29.945455,2543.380531,83.282458,0,5,0,PiBDS
10,X1Y4,9,6.777778,35.721311,3054.043444,85.300603,1,4,10 nM,PiBDS
11,X1Y5,9,1.000000,30.111111,3268.925414,106.967876,1,5,0,PiBDS
12,X2Y0,9,9.000000,34.580247,3686.818017,94.371149,2,0,1000 nM,PiBDS
13,X2Y1,9,4.222222,29.184211,2618.414147,87.380543,2,1,0,PiBDS
16,X2Y4,9,9.222222,27.807229,2563.245505,91.096399,2,4,100 nM,PiBDS
17,X2Y5,9,4.666667,29.833333,2827.761330,89.495791,2,5,0,PiBDS
18,X3Y0,9,18.666667,59.779762,24400.972582,292.912158,3,0,5000 nM,PiBDS
19,X3Y1,9,8.666667,58.910256,76106.879860,294.330485,3,1,0,PiBDS
22,X3Y4,9,7.666667,30.086957,2949.514862,90.806052,3,4,250 nM,PiBDS
23,X3Y5,9,4.555556,26.804878,2143.901222,76.821731,3,5,0,PiBDS
28,X4Y4,9,10.888889,30.785714,5108.392718,115.120229,4,4,500 nM,PiBDS
29,X4Y5,9,6.444444,28.706897,2576.500334,86.816605,4,5,0,PiBDS

In [7]:
ThT_df

,Well,NoOfFoV,ParticlePerFoV,MeanSize,MeanIntegrInt,MeanIntPerArea,X,Y,Conc,Cond
24,X4Y0,9,15.111111,44.889706,6825.436906,129.533149,4,0,500 nM,ThT
25,X4Y1,9,11.111111,29.840000,3950.092445,107.628167,4,1,0,ThT